# Requirements required by this package:
-r requirements_test.txt

# Requirements needed for development & build & testing
coverage
coveralls
wheel==0.29.0
setuptools
docutils==0.12
pygments
tox
flake8
invoke==0.12.2
